/*GENERALES*/
*{
	overflow-x: hidden;
}

.uppercase{
	text-transform: uppercase;
}

body{
	font-family: 'Roboto', sans-serif;
	word-spacing: 0.2em;
}

h2{
	font-size: 2em;
}
/*NAVEGADOR*/
nav a{
 color: #000;
}

.navbar-toggle{
	border: 1px solid #888;
}

.icon-bar {
  color: #888;
  border-color: #888;
  background-color: #888;
}

.logo-labcar{
	width: auto;
	height: 100%;
}

/*SECCION PRINCIPAL*/
.principal{
	margin:0;
	background-image: url(../assets/images/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: auto;
	min-height: 25em;
}

.jumbotron{
	border-radius: 0 !important;
	margin: 10% 0;
	background-color: #F7B617;
	color: #FFF;
}

.jumbotron h3{
	margin-top: -0.5em;
}

.btn-j{
	margin-top: 5%;
}

.font-3{
	overflow: hidden;
}
/*SECCION 2*/
.section-2{
	background-color: #F7B617;
	height: auto;
	color: #FFF;
}

.container-sect2{
	margin: 2.5% 0;
	border-top: 1px solid #FFF;
	border: 1px solid #FFF;
	padding: 5% 8%;
	line-height: 2em;
}

.register{
	width: 100%;
	text-align: center;
}

.register::after{
	display: inline-block;
	margin: 0 0 8px 20px;
	height: 1px;
	content: " ";
	vertical-align: middle;
	text-shadow: none;
	background-color: #FFF;
	width: 10em
}

.register::before{
	display: inline-block;
	margin: 0 20px 8px 0;
	height: 1px;
	content: " ";
	vertical-align: middle;
	text-shadow: none;
	background-color: #FFF;
	width: 10em
}

.log-prin{
	margin-right: 1%;
	width: 3.5em;
}

/*SECCION 3*/
.section-3{
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	background-position: center;
	color: #FFF;
	line-height: 2em;
}
.filter{
	background-color: rgba(0,0,0, 0.5);
	padding-top: 5%;
	padding-left: 3%;
	height: 80vh;
}

.cont-3{
	margin-top: 10%;
}
/*SECCION 4*/
.section-4{
	background-color: #F7B617;
	height: auto;
	padding: 5%;
}

.cont-4{
	color: #FFF;
}

.section-4 .fa{
	font-size: 1.5em;
}

.section-4 input{
	margin-left: 1%;
	padding: 1%;
	background-color: transparent;
	width: 50%;
	min-width: 15em;
	border-radius: 5%;
	border: 1px solid #FFF;
	outline: none;
 }

 .location{
	margin-bottom: 5%;
 }

::placeholder{
	color: #FFF;
}

.map-cont{
	padding-top: 1%;
	border: 1px solid #FFF;
}

.map{
	height: 25em;
	width: 100%;
}

.btn-ruta{
	margin-top: 2.5%;
	margin-bottom: 20%
}


/*FOOTER*/

footer{
	background-color: #2B2B2B;
	color: #FFF;
	padding-top: 3%;
	padding-bottom: 5%;
}

footer a{
	color: #FFF;
}

footer a:hover{
	text-decoration: none;
	color: #F7B617;
}

.social-m{
	width: 10em;
	margin-bottom: 1em;
}

.icon-red{
	margin-bottom: 2em;
}

.line-hr{
	width: 85%;
}

footer .fa{
	margin-left: 1%;
}

.modal-content{
	padding-bottom: 2%;
}

.panel{
	margin-top: 10%;
}

