/*ESTILOS DE TEXTO*/
.uppercase{
	text-transform: uppercase;
}

body{
	font-family: 'Roboto', sans-serif;
}
/*ERROR*/

/*SECCION PRINCIPAL*/
nav a{
 color: #000;
}

.navbar-toggle{
	border: 1px solid #888;
}
.icon-bar {
  color: #888;
  border-color: #888;
  background-color: #888;
}

.principal{
	margin:0;
	background-image: url(../assets/images/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: auto;
}

.jumbotron{
	border-radius: 0 !important;
	margin: 12% 0;
	background-color: #F7B617;
	color: #FFF;
}

/*SECCION 2*/
.section-2{
	background-color: #F7B617;
	height: 90vh;
}

.container-sect2{
	margin-top: 2.5%;
	border-top: 1px solid #FFF;
	border: 1px solid #FFF;
	border-left: none;
	padding: 5% 8%;
	line-height: 2em;
	color: #FFF;
}

/*SECCION 3*/
.section-3{
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	background-position: center -20rem;
	color: #FFF;
}

.info3{
	border: red;
	filter: grayscale(50%);
	height: 100%;
	word-spacing: 10px;

}

